
html {
    background-color: #FFFFFF;
}
body { 
    font-family: 'Roboto', sans-serif; 
    font-style: normal;
    font-size: 24px;
    line-height: 32px;
    color: #434343;
    margin: 20px; 
    color: #333;
    display: flex; 
    align-items: center; 
    justify-content: center;
    gap: 20px;
    min-height: 100vh; /* Vertically center content */
}
.configuration-container {
    flex-grow: 1;
    max-width: 40em;
    background: #F8F9FD;
    border: 1px solid #E7E7E7;
    border-radius: 6px;
    padding: 24px;
    gap: 18px;
}
.form-row { 
    display: flex; 
    gap: 20px; 
    margin-bottom: 15px;
}
.form-group { 
    display: flex; 
    flex-direction: column;
    margin-bottom: 15px; /* Adjust vertical spacing here */
    max-width: inherit;
}
.form-group label { 
    font-size: 14px; 
    margin-bottom: 5px; 
    color: #555;
    font-weight: 500;
}
.form-group input { 
    padding: 10px; 
    border: 1px solid #bbb; 
    border-radius: 4px; 
    font-size: 14px; 
    background-color: white;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}
.form-group input, #autoRefreshDropdown { 
    padding: 10px; 
    border: 1px solid #bbb; 
    border-radius: 4px; 
    font-size: 14px; 
    background-color: white;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}
.action-buttons { 
    height: 40px; /* Standardize height */
    display: flex; 
    gap: 10px;
    margin-bottom: 15px; /* Adjust for space above buttons */
}
button { 
    padding: 10px 15px; 
    border: none; 
    border-radius: 4px; 
    font-size: 14px; 
    cursor: pointer; 
    font-weight: 500; 
    color: white; 
    background-color: #0AA5A5; 
    box-shadow: 0 2px 2px rgba(0,0,0,.2);
    transition: background-color .3s;
}
button:hover { 
    background-color: #53C0C0; 
}
.log {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    overflow-y: scroll;
    font-size: 14px;
    border-radius: 4px;
    max-height: 200px;
    min-height: 200px;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
    margin-bottom: 15px; /* Adjust for space below log */
    max-width: inherit;
    font-family: 'Courier New', Courier, monospace; /* Use a monospace font */
}

.log pre {
    margin: 0; /* Remove default margin for <pre> element */
}

.log p {
    margin: 5px 0; /* Increase spacing between log items */
}

.log .log-item::before {
    content: ">> "; /* Prefix each log item with ">>" */
    color: #555; /* Set color for the prefix */
}

.log p:last-child {
    margin-bottom: 0; /* Remove bottom margin for the last log message */
}
.ad-slot { 
    width: 300px;
    height: 250px;
    background-color: #fff; 
    border: 1px solid #ddd; 
    padding: 10px; 
    border-radius: 4px;
    display: flex; 
    align-items: center; 
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
}